PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=barmar_db
DB_USER=root
DB_PASSWORD=yourpassword

JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRES_IN=7d

NODE_ENV=development

URL_BASE=http://localhost:3000
